/*
==========================================
    Google Fonts
==========================================
*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800&display=swap");

/*
==========================================
    Theme default css
==========================================
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}
.dashboard-container {
    max-width: 100%;
}
body {
    background-color: #f1f5f9;
}
ul {
    margin: 0px;
    padding: 0px;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
.all-button {
    background-color: #2a3042;
    color: #ffffff;
    border-radius: 5px;
    font-weight: 500;
    padding: 10px 20px;
    text-transform: uppercase;
}

.bg-primary {
    background: #0d6efd;
}

.bg-primary-sutable {
    background: #cfe2ff;
}

.bg-success {
    background: #198754;
}

.bg-secondery {
    background: #6c757d;
}

.bg-info {
    background: #0dcaf0;
}

.bg-warning {
    background: #ffc107;
}

.bg-danger {
    background: #dc3545;
}

/*
==========================================
    Sidebar css
==========================================
*/
.sidebar-brand {
    height: 70px;
    display: flex;
    width: 100%;
    align-items: center;
    padding: 0px 10px;
}
.sidebar-logo {
    width: 60px;
    float: left;
    padding-left: 15px;
}
.sidebar-logo img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}
.sidebar-name {
    margin-left: 10px;
}
.sidebar-name span {
    font-size: 20px;
    color: #ffffff;
    font-weight: 600;
    transition: 0.3s ease;
    transition-delay: 0.1s;
}
#sidebar-toggle {
    display: none;
}
#sidebar-toggle:checked ~ .sidebar {
    left: -100%;
}
#sidebar-toggle:checked ~ .main-wrapper header {
    left: 0;
    width: 100%;
    right: 0;
}
#sidebar-toggle:checked ~ .main-wrapper {
    margin-left: 0;
}
.sidebar {
    background-color: #2a3042;
    color: #ffffff;
    transition: left 300ms;
}

.main-wrapper {
    margin-left: 250px;
    transition: margin-left 300ms;
}

header {
    background-color: #efefef;
    background-color: #ffffff;
    border-radius: 4px 4px 10px rgba(0, 0, 0, 0.1);
    transition: left 300ms;
    padding: 10px 25px;
}
.menu-toggle label {
    font-size: 25px;
    cursor: pointer;
}

.home-page {
    padding: 1.5rem;
    background-color: #f1f5f9;
}

/* ================= */

.sidebar-menu li:last-child .sidebar-dropdown {
    border-bottom: 0;
}
.sidebar-dropdown {
    cursor: pointer;
    display: block;
    padding: 15px 15px 15px 45px;
    font-size: 16px;
    color: #999999;
    position: relative;
    transition: all 0.4s ease-out;
}
.sidebar-dropdown:hover {
    color: #ffffff;
}
.sidebar-dropdown i {
    position: absolute;
    top: 17px;
    left: 16px;
}
span.sidebar-menu-icon i {
    height: 35px;
    width: 35px;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: rgba(70, 77, 235, 0.05);
    line-height: 35px;
    text-align: center;
    color: #fff;
    font-size: 14px;
}
span.sidebar-menu-icon {
    margin-right: 10px;
    line-height: 35px;
}
span.sidebar-menu-arrow i {
    line-height: 35px;
}
.sidebar-dropdown .sidebarArrow {
    right: 12px;
    left: auto;
    transition: all 0.4s ease-in-out;
}
.sidebar-submenuItems {
    display: none;
    background-color: #2d374d;
}
.sidebar-menu li.active .sidebar-submenuItems {
    display: block;
}
.sidebar-submenuItems a {
    color: #999999;
    display: block;
    padding: 5px 1px 5px 20px;
    text-decoration: none;
    transition: all 0.2s ease-out;
}
.sidebar-submenuItems a:hover {
    color: #ffffff;
}

.sidebar-menu li.active .sidebar-dropdown {
    color: #ffffff;
    background-color: #103d54;
}
.sidebar-menu li.active .sidebar-dropdown .sidebarArrow {
    transform: rotate(180deg);
}

/*
=======================================================================================================
                                            Main Area Css Start
=======================================================================================================
*/
.custom-border-right {
    border-right: 1px solid #cccccc;
}
span.pricing_name {
    display: block;
    font-size: 14px;
}
.pricing_money,
.pricing_amount {
    font-size: 14px;
}
.group-pricing {
    background: rgba(70, 77, 235, 0.1);
    color: #464deb;
    display: inline-block;
    padding: 0px 8px;
    border-radius: 7px;
}
.user-profile {
    text-align: right;
}
.user-profile .btn-group button {
    border: none;
    background: none;
}
.user-profile .btn-group button img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}
.dashboard_header_chip .user {
    background: rgba(70, 77, 235, 0.1);
    color: #464deb;
    padding: 1px 5px;
    border-radius: 5px;
    font-size: 14px;
}

/*
==========================================
    Dashboard Service Area Css
==========================================
*/
.single-service {
    background: #fff;
    border-radius: 15px;
    -webkit-box-shadow: 0px 5px 20px rgb(19 33 68 / 5%);
    box-shadow: 0px 5px 20px rgb(19 33 68 / 5%);
    padding: 20px;
    height: 100%;
    position: relative;
}
.service-content {
    width: 100%;
    display: block;
    overflow: hidden;
}
.service-left-icon-one,
.service-left-icon-two,
.service-left-icon-three,
.service-left-icon-four i {
    background: rgba(70, 77, 235, 0.1);
    color: #464deb;
    width: 50px !important;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 100%;
    font-size: 24px;
}
.service-left-icon-one,
.service-left-icon-two,
.service-left-icon-three,
.service-left-icon-four {
    width: 30%;
    float: left;
}
.service-left-icon-two i {
    background: rgba(145, 62, 152, 0.1);
    color: #913e98;
}
.service-left-icon-three i {
    background: rgba(248, 152, 29, 0.1);
    color: #f8981d;
}
.service-left-icon-four i {
    background: rgba(21, 161, 94, 0.1);
    color: #15a15e;
}
.service-title-order {
    width: 70%;
    float: left;
}
.service-title {
    display: block;
    color: #132144;
    font-weight: 400;
    font-size: 15px;
}
.service-number {
    font-weight: 700;
    color: #132144;
    word-break: break-all;
    font-size: 20px;
    display: block;
    margin-top: 30px;
}
.service-title-order {
    width: 70%;
    float: left;
    text-align: right;
}
.service-after-icon {
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: rgba(19, 33, 68, 0.45);
    font-size: 14px;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    border-radius: 30px;
    color: rgb(255, 255, 255);
    margin-top: -9px;
    margin-right: -3px;
}

.data_list_header_action_bar_small {
    display: none;
}

a.subscription_payment {
    background: #464deb;
    color: #fff !important;
    padding: 6px 10px;
    font-size: 14px;
    border-radius: 5px;
    display: inline-block;
    margin-left: 10px;
}

/* Normal desktop :1200px. */
.header_profile_language {
    display: none !important;
}

.header__title {
    margin-bottom: 10px;
}

.added_button_section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.preview_image {
    margin-left: 20px;
    width: 150px;
    margin-bottom: 10px;
}

/*
==========================================
    My Style Area Css
==========================================
*/
.__padding__top {
    padding-top: 0px !important;
}
.__padding__bottom {
    padding-bottom: 0px !important;
}
.__padding__top__zero {
    padding-top: 0px !important;
}
.__padding__bottom__zero {
    padding-bottom: 0px !important;
}
.__padding__zero {
    padding: 0px !important;
}

.__padding__top__bottom__zero {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.__margin__top {
    margin-top: 0px !important;
}
.__margin__bottom {
    margin-bottom: 3px !important;
}
.__margin__top__zero {
    margin-top: 0px !important;
}
.__margin__bottom__zero {
    margin-bottom: 0px !important;
}
.__margin__zero {
    margin: 0px !important;
}
.__custom__form_title {
    margin: 0 !important;
    padding: 0 !important;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px !important;
}
.header_toggle_icon i {
    background: rgba(70, 77, 235, 0.1);
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 100%;
    cursor: pointer;
    transition: 0.3s;
}
.header_toggle_icon i:hover {
    background: rgba(70, 77, 235, 0.1);
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 100%;
    cursor: pointer;
}
.create__button i {
    font-size: 14px;
}
.custom_company_language_auth_table_cell {
    display: flex;
    align-items: center;
    justify-content: end;
}
.custom_header_top_company_content {
    border-right: 1px solid #dddddd;
    border-left: 1px solid #dddddd;
    text-align: center;
    padding-right: 15px;
    padding-left: 15px;
}
.custom_header_top_auth_content {
    border-left: 1px solid #dddddd;
    text-align: center;
    padding-left: 15px;
}
.custom_header_top_company_customer_name p {
    font-size: 14px;
    font-weight: 500;
}
.custom_header_top_company_title {
    background-color: #ecedfd;
    font-size: 13px;
    border-radius: 20px;
    display: inline-block;
    padding: 0px 8px;
}
.custom_header_top_language_btn_link {
    background-color: #ecedfd;
    font-size: 13px;
    border-radius: 20px;
    display: inline-block;
    padding: 0px 8px;
}
.custom_header_top_auth_content_table_cell {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 15px;
}
.custom_header_top_auth_name p {
    font-size: 14px;
    font-weight: 500;
}
.custom_header_top_auth_title {
    background-color: #ecedfd;
    font-size: 13px;
    border-radius: 20px;
    display: inline-block;
    padding: 0px 8px;
}
.__custom__header__top__language {
    background-color: #ecedfd;
    border-radius: 30px;
    display: flex;
    align-items: center;
}
.custom_header_top_language_content {
    padding-right: 15px;
}
.__custom__header__top__language__bangla {
    font-size: 12px;
    padding: 1px 5px;
}
.__custom__header__top__language__english {
    font-size: 12px;
    padding: 1px 5px;
}
.language__select__active {
    background-color: #464deb;
    color: #ffffff;
    border-radius: 30px;
}
.v-avatar.custom_dashboard_header_top_auth_image.indigo {
    width: 40px !important;
    height: 40px !important;
    background-color: transparent !important;
}
.v-menu__content {
    border-radius: 0px 0px 5px 5px !important;
    /* top: 20% !important; */
}
.v-list-item {
    min-height: 30px !important;
}
.chart__application canvas {
    width: 100% !important;
}
.custom_main_dashboard {
    display: flex;
    align-items: center;
}
.menu__item {
    font-size: 14px;
}
.v-btn__content {
    justify-content: start !important;
}

.action_button {
    display: block;
    padding: 2px 10px;
    font-size: 14px;
    color: #333 !important;
    cursor: pointer;
}

span.status_button {
    background: #464deb;
    color: #fff;
    padding: 2px 8px;
    border-radius: 5px;
    text-transform: capitalize;
}

/* Confirm Dialog */
.confirm_dialog_box_wrapper .dialog_title {
    text-align: center;
    padding-top: 15px !important;
    margin-bottom: 15px !important;
}

.confirm_dialog_box_wrapper .confirm_checkbox {
    width: 150px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.confirm_dialog_box_wrapper .confirm_checkbox .v-input--selection-controls {
    margin-top: 0 !important;
    padding-top: 0 !important;
}

.confirm_dialog_box_wrapper .confirm_checkbox .v-messages {
    min-height: 0 !important;
}

.confirm_dialog_box_wrapper .action {
    text-align: center;
    padding-bottom: 15px;
}

.confirm_dialog_box_wrapper .action button {
    display: inline-block;
    margin: 0px 5px;
    padding: 3px 15px;
    border-radius: 9px;
}

.confirm_dialog_box_wrapper .action button.danger {
    background: #fe494c;
    border: 1px solid #fe494c;
    color: #fff;
}

.confirm_dialog_box_wrapper .action button.safe {
    border: 1px solid #bbb;
    transition: all ease 0.3s;
}

.confirm_dialog_box_wrapper .action button.safe:hover {
    border: 1px solid #464deb;
    background: #464deb;
    color: #fff;
}

.pos__product__search {
    margin-top: 20px;
}
.pos__product__search input {
    width: 100%;
    border: 1px solid #dddddd;
    padding: 10px 20px;
    border-radius: 3px;
}
.single__pos__product__content {
    border: 1px solid #dddddd;
    border-radius: 3px;
}
.pos__product__details {
    text-align: center;
    padding: 0px 5px 5px 0px;
}
.pos__product__image {
    padding: 5px 5px 0px 5px;
}
.pos__product__title p {
    font-size: 13px;
    line-height: 17px;
    color: #000000;
}
.single__pos__product__content:hover
    .pos__product__title
    .pos__product__title_link {
    color: #464deb;
}
.pos__product__price span {
    font-size: 13px;
    color: #000000;
}
.pos__product__title {
    line-height: 0px;
}

.pos__product__table
    .theme--light.v-data-table
    > .v-data-table__wrapper
    > table
    > tbody
    > tr:not(:last-child)
    > td:last-child,
.theme--light.v-data-table
    > .v-data-table__wrapper
    > table
    > tbody
    > tr:not(:last-child)
    > td:not(.v-data-table__mobile-row),
.theme--light.v-data-table
    > .v-data-table__wrapper
    > table
    > tbody
    > tr:not(:last-child)
    > th:last-child,
.theme--light.v-data-table
    > .v-data-table__wrapper
    > table
    > tbody
    > tr:not(:last-child)
    > th:not(.v-data-table__mobile-row),
.theme--light.v-data-table
    > .v-data-table__wrapper
    > table
    > thead
    > tr:last-child
    > th {
    /* border-bottom: thin solid rgba(0,0,0,.12); */
    /* border: none!important; */
}

.pos__product__table {
    margin-top: 20px;
}
.pos__product__table table thead th {
    border-right: 1px solid rgba(0, 0, 0, 0.12);
}

.pos__product__table table tbody td {
    border-right: 1px solid rgba(0, 0, 0, 0.12);
}

.pos__product__table table thead th:first-child {
    border-left: 1px solid rgba(0, 0, 0, 0.12);
}
.pos__product__table table tbody td:first-child {
    border-left: 1px solid rgba(0, 0, 0, 0.12);
}
.pos__table__btn_plus {
    background-color: #3f51b5;
    color: #ffffff;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-size: 20px;
}
.pos__table__btn__minus {
    background-color: red;
    color: #ffffff;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-size: 20px;
}
.pos__table__btn__input {
    display: flex;
    align-items: center;
    justify-content: center;
}
.pos__table_input {
    width: 35px;
    text-align: center;
}
.pos__table__btn_delete {
    color: red;
}
.pos__product__scroll__content {
    max-height: 300px;
    overflow-y: auto;
}

.add_data_with_dialog_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.add_data_with_dialog_wrapper_2 {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.add_data_with_dialog {
    background: #464deb;
    color: #fff !important;
    font-size: 14px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.custom_switch_button_control .v-messages {
    min-height: 0 !important;
}

.custom_switch_button_control .v-input__slot {
    margin-bottom: 0 !important;
}

.v-input--selection-controls__ripple {
    height: 0 !important;
}

/* ==================== Employee Css ========================= */
.employee_profile {
    text-align: center;
}
.employee_profile img {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: 1px solid #ddd;
    padding: 2px;
}
.employee_profile h4 {
    font-size: 14px;
    font-weight: 500;
}
.employee_profile p {
}

.employee_content {
    display: block;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    margin-bottom: 10px;
    text-align: center;
}

button.salary_slip {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    display: block;
    width: 100%;
    background: #464deb;
    color: #fff !important;
    padding: 7px 0px;
    text-align: center;
}
